h3, p{
	color: #666;
}


h3{
	font-size: 12px;
}

p{
	font-size: 10px;
}

ul{
	background: #dedede;
}

ul > li{
	list-style: 40px;
	
}

ul > li{
	background-color: red;
}

ol > li{
	line-height: 10px;
}